--extra-index-url https://download.pytorch.org/whl/cpu
accelerate
cascade-config
fastapi
grpcio
grpcio-tools
numpy
openai
opencv-python
pillow
pydantic
PyQt6
python-multipart
scikit-learn
torch
tqdm
transformers
uvicorn
wandb
